.interest {
  padding: 0 24px 12px;
  border-radius: 24px;
  background: rgba(116, 133, 225, 0.28);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.2px);
  -webkit-backdrop-filter: blur(11.2px);
  border: 1px solid rgba(116, 133, 225, 0.27);
}